# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# OS files
.DS_Store
Thumbs.db

# PlatformIO / build files if present
.pio/
build/
